asn1crypto==0.24.0
BeautifulSoup==3.2.1
beautifulsoup4==4.6.1
bs4==0.0.1
Cheetah==2.4.4
cryptography==2.1.4
easygui==0.98.1
enum34==1.1.6
gyp==0.1
idna==2.6
ipaddress==1.0.17
keyring==10.6.0
keyrings.alt==3.0
libvirt-python==4.0.0
lxml==4.2.4
mistune==0.8.3
olefile==0.45.1
Pillow==5.1.0
pycairo==1.16.2
pycrypto==2.6.1
pygobject==3.26.1
python-pptx==0.6.11
pyxdg==0.25
SecretStorage==2.3.1
selenium==3.14.1
six==1.11.0
urllib3==1.23
XlsxWriter==1.0.5
